.App {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  background: linear-gradient(100deg, #041e33, #4391eb);
  text-shadow: 1px 0px 2px #8dc4f0;
}

